#content{
	/*position: relative;*/
	/*top: 45px;*/
	/*border-left: 1px solid #ccc;*/
	padding: 0px 10px !important;
	width: 100%;
	flex:1;
	margin-left:0;
}



#headForm {
	padding-top: 5px;
	z-index: 12;
}

.dropShadow {
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.4) inset;
    height: 6px;
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
}

#footer{
	margin-top: 10px;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#productTable th:first-child {
	/*border-top-left-radius: 5px;*/
	border-spacing:0;
}
#productTable th:last-child {
	/*border-top-right-radius: 5px*/
}
#productTable {
	/*border-radius: 5px;*/
	border-spacing: 0;
	border: 0px solid #ccc;
}
#productTable td,#productTable th {
	border: 1px solid #ccc;
	border-right: 0px;
	border-bottom: 0px;
}
#productTable tr:last-child td{
	border-bottom: 1px !important;
}

#productTable>thead {
	background-color: white;
}
#productTable>thead th{
	padding:4px;
}
.stickyThead>thead{
	background-color: white;
}
.stickyThead>thead tr:last-child {
	background-color: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
}
/**********************/
#productTable.lightblue th {
	/*light blue gradient*/
	/*background:-moz-linear-gradient(top,  lightblue,  #fff);*/
	/*background:-webkit-gradient(linear, left top, left bottom, from(lightblue), to(#fff));*/
	background: linear-gradient(to bottom, lightblue 0%, #fff 100%);
}
/**********************/
/**********************/
#productTable.red th, #productTable.red th a, #productTable.red th a span {
	/*red gradient*/
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
	font: bold 11px/1 "helvetica neue", helvetica, arial, sans-serif;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
	line-height: 1.2em;
	color: #fff;
}
#productTable.red th a {
	color: #fff;
}
#productTable.red a{
	color: red;
}
/***********************/

#productTable.gray td , #productTable.gray  a, #productTable.gray td a span{
	font: normal 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1.2em;
}
#productTable.gray th  {
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
} #productTable.gray th a {
	/*color: #fff;*/
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
}

#productTable th:hover {
	background: repeating-linear-gradient(-45deg, red, red 5px, white 5px, white 10px);
	/*transition-delay:1s;*/
}

#productTable tbody>tr:nth-child(odd) {background-color:#f0f0f0}
/*#productTable tbody>tr:hover td{
	background-color: #dddddd;
		transition-delay:.3s;
}*/

.tabbedbutton {
	margin-left:20px; 
	z-index:6; 
	border-width:1px 1px 0px 1px; 
	border-color:#ddd; 
	border-style:solid; 
	border-radius: 2px 2px 0px 0px; 
	padding: 7px;
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%)
}

#mainform b{
/*	border-radius: 5px;
	border: 1px solid #F7F7F7;
	background:#F7F7F7;*/
	font: bold 11px/1 "helvetica neue", helvetica, arial, sans-serif;
}

/*input[type="text"]{
	font-family: Consolas;
	border-radius:2px;
	border:1px solid gray;
	background: rgba(250,250,240,1);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	padding-right: 10px;
}
input[type="text"]:focus{
	background: rgba(250,240,240,1);
	box-shadow: 2px 1px 1px rgba(0,0,0,.2);
}*/
/*input[type="text"], select, input[type="search"] { border-color:#cccccc; border-style:solid; font-size:12px; border-width:1px; border-radius:3px; padding:3px; box-shadow: 2px 2px 2px 0px rgba(42,42,42,.50);  } 
		 .css-input:focus { outline:none; } */
/*input[type="text"], select, input[type="search"] {
  padding: 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="search"]:focus,
input[type="search"].focus,input[type="search"]:focus,
input[type="search"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}*/

 input[type="text"], select, input[type="search"]{ 
 	font-size:14px; 
 border-width:2px; 
 border-style:solid; 
 background-color:#fbfcfc; 
 border-color:#e9eced; 
 padding:3px; 
 color:#465660;  } 
.css-input:focus { outline:none; } 

/*hover highlight css*/
.explorehhl {
 	box-shadow: 3px 0px 10px #F00;
 	position: relative;
	z-index: 51;
}

.zlevelhhl{
	position: relative;
	z-index: 51;
	box-shadow: 3px 0px 10px #F00;
	background: white;
}
.cwhhl{
	-moz-column-width:300px;
	-webkit-column-width:300px;
}

.textenlarge{
	font-size: 16px;
	font-weight: bolder;
}
#qpDiv {
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	box-shadow: inset 3px 0px 10px #ddd;
}
#qpDiv.rightside {
	position: fixed;
	right: 0px;
	top: 55px;
	left: 600px;
	bottom: -2px;
	
	border-radius: 1px 0 0 1px;
	padding: 8px 15px 15px 0px;
	/*box-shadow: inset 3px 0px 10px #AAA;*/
	z-index: 6;
}
#qpDiv.topside {
	position: relative;
	/*right: 0px;*/
	top: 70px;
	
	bottom: -2px;
	
	border-radius: 0 0 1px 1px;
	padding: 8px 15px 15px 8px;
	
/*	-moz-column-width:400px;
	-webkit-column-width:400px;*/
}
#qpDiv.topside>#qpDivCont {

	-moz-column-width:400px;
	-webkit-column-width:400px;
}

#page-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 50;
	top: 0;
	left: 0;
}

.beablock {
	border-radius: 5px;
	border: 1px solid #ccc;
	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: linear-gradient(to bottom, #E8E8E8 0%, #F8F8F8 100%);
}


.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;} * html .clearfix { zoom: 1; } /* IE6 */ *:first-child+html .clearfix { zoom: 1; } /* IE7 */

.totop {
	border: 1px solid blue;
	position: fixed;
	z-index: 4;
	right: 0px;
	top: 75%;
	background: lightblue;
	cursor: pointer;
	border-radius: 10px 0px 0px 10px;
	opacity:.4;
	}
.totop:hover {
	opacity: .9;
}

.close {
		/*position: relative;*/
		margin: 2px;
		float: right;
		padding:4px;
}

.gray-grad {
	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
}
.gray-grad2 {
	background: #f5f5f5; 
	border-bottom: 1px solid #e1e1e1;
}
.ps-sortButtons{
	border-width: 0;
}
.ps-sortButtons:hover{
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.075) 40%, rgba(0, 0, 0, 0.15));
}
.centerme {
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hoverborder {
	margin: 2px;
}

.hoverborder:hover {
	border: 2px solid red;
	margin: 0px;
}

#cHeader {
	position: fixed;
	width: 100%;
	z-index: 6;
	height: 50px;
	top: 0px;
	/*left: 5px;*/
	background: white;
}

#resnum>p {
	position: fixed;
	left: 99px;
	top: 18px;
	color: red;
	font-size: 14px;
	background: white;
}

.seohtagbold {
		position: fixed;
		left: 430px;
		top: 35px;
		z-index: 7;
		background: white;
		padding-right: 100px;
}

.seohtagbold>a{
	font-size: 11px;
}

#quicklinks {
	position: fixed;
	right: 0px;
	margin-right: 10px;
	top: 2px;
	color: black;
	font-size: 12px;
	background: white;
}

/*for squished filters addon*/
.fullwidth {
	width: 50px;
	-moz-transition: width .4s;
	-webkit-transition: width .4s;
}
.fullwidth:hover {
	width: 200px;
	-moz-transition: width .4s;
	-webkit-transition: width .4s;

}

.pointer{
	cursor: pointer;
}

.compdivs {
	/*box-shadow: ;*/
	padding: 5px;
	width:100px;
	border: 1px solid lightgray;
	-moz-transition: box-shadow .4s;
	-webkit-transition: box-shadow .4s;
}

.compdivs:hover {
	box-shadow:inset 0 0 1px 1px red;
	-moz-transition: box-shadow .4s;
	-webkit-transition: box-shadow .4s;
}

#handlewrapper:hover {
	box-shadow: 0 0 2px 2px gray;
	cursor: pointer;
}

.open{	
	overflow: auto;	
}
.closed{
	overflow: hidden,
}

.columnized1 {
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;

	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}
.columnized2 {

	column-width:300px;
	-moz-column-width:300px;
	-moz-column-count:2; 
	-webkit-column-count:2; 
	column-count:2;
	/*-moz-column-gap:40px; *//* Firefox */
	/*-webkit-column-gap:40px; *//* Safari and Chrome */
	/*column-gap:40px;*/
}

.columnized3 {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;

	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

.columnized5 {
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;

	-moz-column-gap:10px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
	column-gap:10px;
}

.blockdivon {
	display: inline-block;
}
.blockdivon > h2 ,.blockdivon2 > h2{
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	box-shadow: inset 1px -1px 4px #ddd;
	border-radius: 2px;
	padding: 0px 0px 16px 10px;
	margin:0;
	position: sticky;
	top:50px;
}
.blockdivon > h2 {
	width: 430px;
}

#productIndexList{
	margin-top:0;
}

.blockdivon2 > ul {
	/*display: inline-block;*/
	-moz-column-width:450px;
	-webkit-column-width:450px;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
}

/*.blockdivon:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}*/

.cw300{
	-moz-column-width:375px;
	-webkit-column-width:375px;
	-moz-column-gap:75px; 
	-webkit-column-gap:75px;
}

.catColumns {
	-moz-column-width:450px;
	-webkit-column-width:450px;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
}
.familyColumns .familiesContainer{
	-moz-column-width:450px;
	-webkit-column-width:450px;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
}

.familiesContainer{
	box-sizing:border-box;
}


.shadowhighlight {
	border: solid 2px;
	border-color: red;
	box-shadow: 0 0 10px 5px #888;
}


/*detail page*/
.product-details-discount-pricing {
	width: 100%;
}
.product-details-discount-pricing th{
	font-size: 8px;
}
p.alert{
	width:500px;
}

/*new carousel*/
.col-Image, 
.col-ManufacturerPartNumber,
.col-Manufacturer,
.col-Description,
.col-Packaging,
.col-UnitPrice,
.col-QuantityAvailable,
.col-MinQuantity {

}

.col-Image{
	height: 48px; 
	width: 48px;
	font-size: 8px;
	display: block;
	overflow: hidden;
}

.asd-container{
	max-width: 1000px;
}

.divTitle{
	font-weight: bold;
}

.panel{
	/*width: 780px;*/
	max-width: 780px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}
.panel table {
	width: 100%;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}
.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    background-repeat: repeat-x;
}
.tstripe tr.even, .tstripe tr.alt, .tstripe tr:nth-of-type(2n) {
    background: none repeat scroll 0 0 #f1f1f1;
}

/*from jqpagination.css*/
.pagination {
	display: inline-block;
	border: 1px solid #CDCDCD;
	border-radius: 3px; 
	margin: 0 3px;
}
.pagination a {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	outline: none;
	border-right: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
	color: #555555;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	font-family: Times, 'Times New Roman', Georgia, Palatino;
	/* ATTN: need a better font stack */
	background-color: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
	background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
	background-image: linear-gradient(#f3f3f3, lightgrey); 
}
.pagination a:hover, .pagination a:focus, .pagination a:active {
	background-color: #cecece;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cecece));
	background-image: -webkit-linear-gradient(#e4e4e4, #cecece);
	background-image: linear-gradient(#e4e4e4, #cecece); 
}
.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
	background-color: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
	background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
	background-image: linear-gradient(#f3f3f3, lightgrey);
	color: #A8A8A8;
	cursor: default; 
}
.pagination a:first-child {
	border: none;
	border-radius: 2px 0 0 2px; 
}
.pagination a:last-child {
	border: none;
	border-radius: 0 2px 2px 0; 
}
.pagination input {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
	height: 20px;
	outline: none;
	border: none;
	vertical-align: middle;
	text-align: center; 
}
	
/*end new carousel*/


.carouselClass{
	height: 150px;
	width: 600px;
	position: relative;
	left : 3px;
	overflow: hidden;
	box-shadow: 1px 2px 2px 2px #888;
	border : 1px solid gray;
	border-radius: 5px;
	z-index : 5;
}


.carouselContClass {
	background: white;
	position	: absolute;
	left : 25px;
	z-index : 6;
	height: 598px;
	width: 550px;
	overflow: hidden;
	font-size: 2em;
	font-weight: bold;
	border : 1px solid lightgray;
}



.arrow{
	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	height: 148px;
	width: 25px;
	font-size: 2em;
	font-weight: bold;
	line-height: 150px;
	border : 1px solid lightgray;
	z-index : 7;
	cursor: pointer;
}
.leftarrow{
	float: left;
	border-radius: 5px 0 0 5px;
}

.rightarrow{
	float: right;
	border-radius: 0 5px 5px 0;
}
.carTitle{
	position: relative;
	left: 28px;
}

.selectboxdivclass{
	display: inline-block; 
	margin:5px; 
	white-space: normal;
}
.clearselect{
	display: inline-block;
}
.adv{
	height: 12px;
	/*line-height: 2em;*/
	padding: 2px;
	cursor: pointer;
	display: inline-block;
	/*margin: 0 auto;*/
	float:left;
	margin-left: 2px;
}

.download-table{
	margin-right: 20px;
}

/*addAccelerator CSS*/
#bigpic {
	position: absolute;
	z-index: 9;
	background-color: white;
	padding: 10px;
	border: 2px solid grey;
	box-shadow: 0 0 2px 2px #888;
}

#itemInfo {
	position: absolute;
	z-index: 8;
	background-color: white;
	padding: 10px;
	border: 2px solid grey;
	min-width: 200;
	box-shadow: 0 0 3px 2px #888;
}

/*form and filters*/
#mainform select{
	border-radius: 3px;
	font-size: .9em;
}

option:hover{
	background:  #D8DEF2;
}

.trueReset {
	font-weight: bolder;
}

.trueResetButton{
	background: lightgray;
	margin-right: 20px;
	/*width:20px;*/
	height: 20px;
	padding:2px 8px;
	cursor:pointer;
}

.ired{
	color: #d0451b;
}

.lessfilters{
	height: 100%;

	/*transition:height 5s;*/
}

.morefilters{
	overflow:hidden;
	height : 240px;
	width : 100%;
	/*transition:height 5s;*/
}

.wsnowrap{
	white-space: nowrap;
}
#mainformdiv{
	display:inline-block; 
	margin:0px 10px 4px 0px; 
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%); 
	border: 1px solid rgba(0,0,0,0.1); 
	border-radius: 1px; 
	/*width: 100%;*/
}

#floatApply{
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%); 
	border:1px 0px 0px 0px solid rgba(10,0,0,.3);
	border-radius: 0px 0px 4px 4px;
	position:relative; 
	/*margin: 1px 1px;*/
	width: auto;
	/*max-width: 95%;*/
	padding: 5px;
}

.sortme{
	float: left;
	cursor: pointer;
	padding-left: 10px;
}
.mathHighlight {
	position:relative;
	z-index: 1002;
}


/*  */
.pickerItem{
	margin:10px; 
	padding:10px; 
	display:flex; 
	row:rtl;
}

.pickerItemNotSelected {
	border: 1px solid #ccc; 
}
.pickerItemSelected {
	border: 1px solid red;
	box-shadow: inset 0 0 2px red;
}

.superContent{
	display: flex;
}
.mainFlexWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  /*font-weight: bold;*/
  /*text-align: center;*/
}

.sideIndexContent li:hover span{
	display: inline;
}

.sideIndexContent{
	padding: 0px 0px 50px 20px;
	list-style: none;
}
.sideIndexContent a{
	color: #656;
	text-decoration: none;
}
.sideIndexContent a:hover{
	text-decoration: underline;
	color: #333;
}

/*catfamstyle*/
.catContainer{
	margin-bottom: 25px;
	/*margin-left:300px;*/
/*// 	width: 95%;*/
	/*max-width: 800px;*/
/*// 	overflow: hidden;*/
}
.catTitle{
	font-size: 1.8em;
	font-weight: bold;
/*// 	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);*/
/*// 	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);*/
	background: #eee;
	padding: 5px;
	position: sticky; /* experimental */
	top:50px;
	z-index: 3;
	display: flex;

}


.plTextOnly .catTitle{
	margin-bottom: 5px;
}

.plContainerized .famItemContainer > .famTitle{
	font-weight: bold;	
}
.plContainerized .famItemContainer > .fcount{
	float:right;
}
.plContainerized .familiesContainer{
	border: 1px solid #ccc;
	padding: 4px;
	max-width: 800px;
}
.plContainerized .familiesContainer a{
	text-decoration: none;
	color: #333333;
}
/*.familiesContainer:hover a{
	text-decoration: underline;
	color: #333333;
}*/
.plContainerized .famItemContainer{
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align:top;
	/*margin-left: 20px;*/
	/*margin-bottom: 5px;*/
	margin: 5px 10px;
	padding: 2px;
	width: 200px;
	height: 100px;
	position: relative;
}
.plContainerized .famItemContainer:hover a{
	text-decoration: underline;
	color: #333333;
}
.plTextOnly .famItemContainer{
	/*border: 1px solid #ccc;*/
	/*display: inline-block;*/
	/*vertical-align:top;*/
	/*margin-left: 20px;*/
	/*margin-bottom: 5px;*/
	/*margin: 5px 10px;*/
	/*width: 300px;*/
	/*height: 100px;*/
	
}
.plTextOnly .famItemContainer {
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}

.plTextOnly .famItemContainer > .fcount{
	order:2;
	margin-left: 10px;
}
.plTextOnly .famItemContainer > .famTitle{
	order:1;
}
.plContainerized .familyimages{
	/*height: 64px;*/
	/*width: 64px;*/
	position: absolute;
	bottom: 0px;
	display: inline;
}
.plContainerized .familyimages>a img {
  /*display: block;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: url(https://dl.dropboxusercontent.com/u/26263360/img/newhelp.png) no-repeat;*/
  width: 64px; /* Width of new image */
  height: 64px; /* Height of new image */
}

.sideIndexTitle {
	border-bottom: 1px solid #ccc;
	display:flex;
}



/*catfamstyle*/


/*checkbox start*/
input[type=checkbox].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=checkbox].css-checkbox + label.css-label {
              padding-left:21px;
              height:16px; 
              display:inline-block;
              line-height:16px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:12px;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
              background-position: 0 -16px;
            }
            label.css-label {
        background-image:url(https://dl.dropboxusercontent.com/u/26263360/img/csscheckbox_red.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
/*checkbox end*/


/*new red button*/
.myRedButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:arial;
	font-size:13px;
	padding:.5em 1em;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #854629;*/
}
.myRedButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myRedButton:active {
	position:relative;
	top:1px;
}

.myRedButton:focus {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}

/*new red button end*/


/*button sizing*/

#exploremodechooser button, 
#columnchooser button, 
#qpchooser button,
#wrapfilterschooser button 
{
	width: 40px;
	height: 20px;
}

.mediaColumnizer {
	-moz-column-width:300px;
	-webkit-column-width:300px;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

/*
@media screen and (min-width:1080px) and (max-width: 1200px) {
	.mediaColumnizer {
		-moz-column-count:2; 
		-webkit-column-count:2; 
		column-count:2;

		-moz-column-gap:40px; 
		-webkit-column-gap:40px; 
		column-gap:40px;
	}
}

@media (min-width:1201px), screen and (min-width:1080px) and (max-width: 1200px) and (max-height: 800px) {
	.mediaColumnizer {
		-moz-column-count:3; 
		-webkit-column-count:3; 
		column-count:3;

		-moz-column-gap:40px; 
		-webkit-column-gap:40px; 
		column-gap:40px;
	}
}*/

.catfiltertopitem div, .catfiltertopitem a {
	display:inline-block;
}
.catSprite {
	margin:3px 5px 3px 3px; 
	position:relative; 
	top:10px; 
	/*border:1px solid gray; */
	/*border-radius:5px; */
	display:inline-block;
}

.jumptoLink{
	width:100%;
	height: 25px;
}
.jumptoLink span{
	line-height: 2em;
	margin-left: 3px;
}

.jumptoSprite{
	margin:1px;
	float:left; 
}
.jumptoParentDiv{
	width:100%;
	height:27px;
}
.jumptoHoverDiv{
	width:100%;
	height: 100%;
}
.jumptoHoverDiv:hover{
	background: #ccc;
	width:100%;
	height:100%;

}


/* Generated by http://css.spritegen.com CSS Sprite Generator */

.cableswires, .hardwarefastenersaccessories, .prototypingproducts, .boxesenclosuresracks, .connectorsinterconnects2, 
.semiconductormodules, .networkingsolutions, .filters, .opticalinspectionequipment, .powersuppliesboardmount, 
.programmersdevelopmentsystems, .switches, .optoelectronics, .industrialcontrolsmeters, .connectorsinterconnects, 
.relays, .embeddedcomputers, .tapesadhesives, .circuitprotection, .cableassemblies, 
.powersupplies-boardmount, .integratedcircuitsics, .capacitors, .motorssolenoidsdriverboardsmodules, .potentiometersvariableresistors, 
.discretesemiconductorproducts, .resistors, .testandmeasurement, .powersupplies-externalinternaloff-board, .rfifandrfid, 
.cableassemblies2, .memorycardsmodules, .kits, .isolators, .sensorstransducers, 
.transformers, .tools, .solderingdesolderingreworkproducts, .audioproducts, .computersoffice-componentsaccessories, 
.fansthermalmanagement, .staticcontrolesdcleanroomproducts, .inductorscoilschokes, .crystalsandoscillators, .batteryproducts, 
.lineprotectiondistributionbackups, .cableswires-management, .undefinedcategory
{ display: block; background: url('https://dl.dropboxusercontent.com/u/26263360/img/caticons/catsprites.png') no-repeat; }

.cableswires { background-position: -0px -0px; width: 25px; height: 25px; }
.hardwarefastenersaccessories { background-position: -25px -0px; width: 25px; height: 25px; }
.prototypingproducts { background-position: -50px -0px; width: 25px; height: 25px; }
.boxesenclosuresracks { background-position: -75px -0px; width: 25px; height: 25px; }
.connectorsinterconnects2 { background-position: -100px -0px; width: 25px; height: 25px; }
.semiconductormodules { background-position: -125px -0px; width: 25px; height: 25px; }
.networkingsolutions { background-position: -0px -25px; width: 25px; height: 25px; }
.filters { background-position: -25px -25px; width: 25px; height: 25px; }
.opticalinspectionequipment { background-position: -50px -25px; width: 25px; height: 25px; }
.powersuppliesboardmount { background-position: -75px -25px; width: 25px; height: 25px; }
.programmersdevelopmentsystems { background-position: -100px -25px; width: 25px; height: 25px; }
.switches { background-position: -125px -25px; width: 25px; height: 25px; }
.optoelectronics { background-position: -0px -50px; width: 25px; height: 25px; }
.industrialcontrolsmeters { background-position: -25px -50px; width: 25px; height: 25px; }
.connectorsinterconnects { background-position: -50px -50px; width: 25px; height: 25px; }
.relays { background-position: -75px -50px; width: 25px; height: 25px; }
.embeddedcomputers { background-position: -100px -50px; width: 25px; height: 25px; }
.tapesadhesives { background-position: -125px -50px; width: 25px; height: 25px; }
.circuitprotection { background-position: -0px -75px; width: 25px; height: 25px; }
.cableassemblies { background-position: -25px -75px; width: 25px; height: 25px; }
.powersupplies-boardmount { background-position: -50px -75px; width: 25px; height: 25px; }
.integratedcircuitsics { background-position: -75px -75px; width: 25px; height: 25px; }
.capacitors { background-position: -100px -75px; width: 25px; height: 25px; }
.motorssolenoidsdriverboardsmodules { background-position: -125px -75px; width: 25px; height: 25px; }
.potentiometersvariableresistors { background-position: -0px -100px; width: 25px; height: 25px; }
.discretesemiconductorproducts { background-position: -25px -100px; width: 25px; height: 25px; }
.resistors { background-position: -50px -100px; width: 25px; height: 25px; }
.testandmeasurement { background-position: -75px -100px; width: 25px; height: 25px; }
.powersupplies-externalinternaloff-board { background-position: -100px -100px; width: 25px; height: 25px; }
.rfifandrfid { background-position: -125px -100px; width: 25px; height: 25px; }
.cableassemblies2 { background-position: -0px -125px; width: 25px; height: 25px; }
.memorycardsmodules { background-position: -25px -125px; width: 25px; height: 25px; }
.kits { background-position: -50px -125px; width: 25px; height: 25px; }
.isolators { background-position: -75px -125px; width: 25px; height: 25px; }
.sensorstransducers { background-position: -100px -125px; width: 25px; height: 25px; }
.transformers { background-position: -125px -125px; width: 25px; height: 25px; }
.tools { background-position: -0px -150px; width: 25px; height: 25px; }
.solderingdesolderingreworkproducts { background-position: -25px -150px; width: 25px; height: 25px; }
.audioproducts { background-position: -50px -150px; width: 25px; height: 25px; }
.computersoffice-componentsaccessories { background-position: -75px -150px; width: 25px; height: 25px; }
.fansthermalmanagement { background-position: -100px -150px; width: 25px; height: 25px; }
.staticcontrolesdcleanroomproducts { background-position: -125px -150px; width: 25px; height: 25px; }
.inductorscoilschokes { background-position: -0px -175px; width: 25px; height: 25px; }
.crystalsandoscillators { background-position: -25px -175px; width: 25px; height: 25px; }
.batteryproducts { background-position: -50px -175px; width: 25px; height: 25px; }
.lineprotectiondistributionbackups { background-position: -75px -175px; width: 25px; height: 25px; }
.cableswires-management { background-position: -100px -175px; width: 25px; height: 25px; }
.undefinedcategory { background-position: -125px -175px; width: 25px; height: 25px; }