
html{
	height: 100%;
}
body{
	height: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
input[type="text"], select, input[type="search"]{ 
 	font-size:14px; 
 border-width:2px; 
 border-style:solid; 
 background-color:#fbfcfc; 
 border-color:#e9eced; 
 padding:3px; 
 color:#465660;  } 
.css-input:focus { outline:none; } 


#content{
	padding: 0px 20px !important;
	width: 100%;
	height: 100%;
	margin-left:0;
}
/*headForm is part of custom header*/
#headForm {
	padding-top: 10px;
	padding-left: 15px;
	z-index: 12;
}
/*dropShadow is part of custom header */
.dropShadow {
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.4) inset;
    height: 6px;
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
}
/*cHeader is part of custom header */
#cHeader {
	position: fixed;
	width: 100%;
	z-index: 6;
	height: 50px;
	top: 0px;
	/*left: 5px;*/
	background: black;
	color: white;

}
#cHeader a{
	color:white;
}


#footer{
	margin-top: 10px;
}


#productTable.gray td , #productTable.gray  a, #productTable.gray td a span{
	font: normal 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1.2em;
}
#productTable.gray th  {
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	color:black;
} #productTable.gray th a {
	/*color: #fff;*/
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
}
.ps-sortButtons>img{
	filter:invert(1);
}
#productTable thead>tr:nth-of-type(2){
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
}
.ps-sortButtons{
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
}

/*style for column hider*/
#productTable th:hover {
	background: repeating-linear-gradient(-45deg, red, red 5px, white 5px, white 10px);
	/*transition-delay:1s;*/
}

/*#productTable tbody>tr:nth-child(odd) {background-color:#f0f0f0}*/
/*#productTable tbody>tr:hover td{
	background-color: #dddddd;
		transition-delay:.3s;
}*/

.tabbedbutton {
	margin-left:20px; 
	z-index:6; 
	border-width:1px 1px 0px 1px; 
	border-color:#ddd; 
	border-style:solid; 
	border-radius: 2px 2px 0px 0px; 
	padding: 7px;
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	width:150px;
}

#mainform b{
/*	border-radius: 5px;
	border: 1px solid #F7F7F7;
	background:#F7F7F7;*/
	font: bold 11px/1 "helvetica neue", helvetica, arial, sans-serif;
}




/*hover highlight css*/
.explorehhl {
 	box-shadow: 3px 0px 10px #F00;
 	position: relative;
	z-index: 51;
}

.zlevelhhl{
	position: relative;
	z-index: 51;
	box-shadow: 3px 0px 10px #F00;
	background: white;
}
.cwhhl{
	-moz-column-width:300px;
	-webkit-column-width:300px;
}

.textenlarge{
	font-size: 16px;
	font-weight: bolder;
}

#qpLinkList {
	margin: 10px 15px;
}


#page-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 50;
	top: 0;
	left: 0;
}

.beablock {
	border-radius: 5px;
	border: 1px solid #ccc;
	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: linear-gradient(to bottom, #E8E8E8 0%, #F8F8F8 100%);
}


.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;} * html .clearfix { zoom: 1; } /* IE6 */ *:first-child+html .clearfix { zoom: 1; } /* IE7 */

.totop {
	border: 1px solid gray;
	height: 30px;
	width: 30px;
	position: fixed;
	z-index: 4;
	bottom: 0px;
	left:50%;
	background: lightgray;
	cursor: pointer;
	border-radius: 10px 10px 0px 0px;
	opacity:.5;
	text-align: center;
	}
.totop:hover {
	opacity: .9;
}

.close {
		/*position: relative;*/
		margin: 2px;
		float: right;
		padding:4px;
}

.gray-grad {
	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);
}
.gray-grad2 {
	background: #f5f5f5; 
	border-bottom: 1px solid #e1e1e1;
}
.ps-sortButtons{
	border-width: 0;
}
.ps-sortButtons:hover{
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.075) 40%, rgba(0, 0, 0, 0.15));
}
.centerme {
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}





/*some online table generated code*/
.advancedsearchtable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.advancedsearchtable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.advancedsearchtable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.advancedsearchtable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.advancedsearchtable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.advancedsearchtable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.advancedsearchtable tr:hover td{
	
}
.advancedsearchtable tr:nth-child(odd){ background-color:#e5e5e5; }
.advancedsearchtable tr:nth-child(even)    { background-color:#ffffff; }.advancedsearchtable td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.advancedsearchtable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.advancedsearchtable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.advancedsearchtable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.advancedsearchtable tr:first-child td{
		background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

	background-color:#4c4c4c;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.advancedsearchtable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

	background-color:#4c4c4c;
}
.advancedsearchtable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.advancedsearchtable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*.seohtagbold {
		position: fixed;
		left: 430px;
		top: 35px;
		z-index: 7;
		background: white;
		padding-right: 100px;
}*/

.seohtagbold{
	margin-bottom: 5px;
}
.seohtagbold>a{
	font-size: 11px;
}

#quicklinks {
	position: fixed;
	right: 0px;
	margin-right: 10px;
	top: 2px;
	/*color: white;*/
	font-size: 12px;
	/*background: white;*/
}

/*for squished filters addon*/
.fullwidth {
	width: 50px;
	-moz-transition: width .4s;
	-webkit-transition: width .4s;
}
.fullwidth:hover {
	width: 200px;
	-moz-transition: width .4s;
	-webkit-transition: width .4s;

}

.pointer{
	cursor: pointer;
}

.compdivs {
	/*box-shadow: ;*/
	padding: 5px;
	width:100px;
	border: 1px solid lightgray;
	-moz-transition: box-shadow .4s;
	-webkit-transition: box-shadow .4s;
}

.compdivs:hover {
	box-shadow:inset 0 0 1px 1px red;
	-moz-transition: box-shadow .4s;
	-webkit-transition: box-shadow .4s;
}

#handlewrapper:hover {
	box-shadow: 0 0 2px 2px gray;
	cursor: pointer;
}

.open{	
	overflow: auto;	
}
.closed{
	overflow: hidden,
}

.columnized1 {
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;

	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}
.columnized2 {

	column-width:300px;
	-moz-column-width:300px;
	-moz-column-count:2; 
	-webkit-column-count:2; 
	column-count:2;
	/*-moz-column-gap:40px; *//* Firefox */
	/*-webkit-column-gap:40px; *//* Safari and Chrome */
	/*column-gap:40px;*/
}

.columnized3 {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;

	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

.columnized5 {
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;

	-moz-column-gap:10px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
	column-gap:10px;
}

.blockdivon {
	display: inline-block;
}
.blockdivon > h2 ,.blockdivon2 > h2{
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	box-shadow: inset 1px -1px 4px #ddd;
	border-radius: 2px;
	padding: 0px 0px 16px 10px;
	margin:0;
	position: sticky;
	top:50px;
}
.blockdivon > h2 {
	width: 430px;
}

#productIndexList{
	margin-top:0;
}

.blockdivon2 > ul {
	/*display: inline-block;*/
	-moz-column-width:450px;
	-webkit-column-width:450px;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
}

/*.blockdivon:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}*/

.cw300{
	-moz-column-width:375px;
	-webkit-column-width:375px;
	-moz-column-gap:75px; 
	-webkit-column-gap:75px;
}

.catColumns {
	-moz-column-width:450px;
	-webkit-column-width:450px;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
}
.familyColumns .familiesContainer{
	-moz-column-width:450px;
	-webkit-column-width:450px;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
}

.familiesContainer{
	box-sizing:border-box;
	margin-bottom: 25px;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
   	break-inside: avoid; /* IE 10+ */
}
.familiesContainer>a{
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
   	break-inside: avoid; /* IE 10+ */
}

.topResultsTitle{
	margin : 0;
	padding : 3px 2px;
	font-size: 15px;
	font-weight:bold;
	border-bottom : 1px solid #ccc;
}

.topResultsBody{
	padding: 8px 3px;
}


.shadowhighlight {
	border: solid 2px;
	border-color: red;
	box-shadow: 0 0 10px 5px #888;
}


/*detail page*/
.product-details-discount-pricing {
	width: 100%;
}
.product-details-discount-pricing th{
	font-size: 8px;
}
p.alert{
	width:500px;
}

/*new carousel*/
.col-Image, 
.col-ManufacturerPartNumber,
.col-Manufacturer,
.col-Description,
.col-Packaging,
.col-UnitPrice,
.col-QuantityAvailable,
.col-MinQuantity {

}

.col-Image{
	height: 48px; 
	width: 48px;
	font-size: 8px;
	display: block;
	overflow: hidden;
}

.asd-container{
	max-width: 1000px;
}

.divTitle{
	font-weight: bold;
}

.panel{
	/*width: 780px;*/
	max-width: 780px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}
.panel table {
	width: 100%;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}
.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    background-repeat: repeat-x;
}
.tstripe tr.even, .tstripe tr.alt, .tstripe tr:nth-of-type(2n) {
    background: none repeat scroll 0 0 #f1f1f1;
}

/*from jqpagination.css*/
.pagination {
	display: inline-block;
	border: 1px solid #CDCDCD;
	border-radius: 3px; 
	margin: 0 3px;
}
.pagination a {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	outline: none;
	border-right: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
	color: #555555;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	font-family: Times, 'Times New Roman', Georgia, Palatino;
	/* ATTN: need a better font stack */
	background-color: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
	background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
	background-image: linear-gradient(#f3f3f3, lightgrey); 
}
.pagination a:hover, .pagination a:focus, .pagination a:active {
	background-color: #cecece;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cecece));
	background-image: -webkit-linear-gradient(#e4e4e4, #cecece);
	background-image: linear-gradient(#e4e4e4, #cecece); 
}
.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
	background-color: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
	background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
	background-image: linear-gradient(#f3f3f3, lightgrey);
	color: #A8A8A8;
	cursor: default; 
}
.pagination a:first-child {
	border: none;
	border-radius: 2px 0 0 2px; 
}
.pagination a:last-child {
	border: none;
	border-radius: 0 2px 2px 0; 
}
.pagination input {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
	height: 20px;
	outline: none;
	border: none;
	vertical-align: middle;
	text-align: center; 
}
	
/*end new carousel*/


.carouselClass{
	height: 150px;
	width: 600px;
	position: relative;
	left : 3px;
	overflow: hidden;
	box-shadow: 1px 2px 2px 2px #888;
	border : 1px solid gray;
	border-radius: 5px;
	z-index : 5;
}


.carouselContClass {
	background: white;
	position	: absolute;
	left : 25px;
	z-index : 6;
	height: 598px;
	width: 550px;
	overflow: hidden;
	font-size: 2em;
	font-weight: bold;
	border : 1px solid lightgray;
}


.carTitle{
	position: relative;
	left: 28px;
}


.clearselect{
	display: inline-block;
}
.adv{
	height: 12px;
	/*line-height: 2em;*/
	padding: 2px;
	cursor: pointer;
	display: inline-block;
	/*margin: 0 auto;*/
	float:left;
	margin-left: 2px;
}

.download-table{
	margin-right: 20px;
}

/*addAccelerator CSS*/
#bigpic {
	position: absolute;
	z-index: 9;
	background-color: white;
	padding: 10px;
	border: 2px solid grey;
	box-shadow: 0 0 2px 2px #888;
}

#itemInfo {
	position: absolute;
	z-index: 8;
	background-color: white;
	padding: 10px;
	border: 2px solid grey;
	min-width: 200;
	box-shadow: 0 0 3px 2px #888;
}
/*hoverborder is part of filter family page picsToAccel*/
.hoverborder {
	margin: 2px;
}

.hoverborder:hover {
	border: 2px solid red;
	margin: 0px;
}

/*form and filters*/
#mainform select{
	border-radius: 3px;
	font-size: .9em;
}

option:hover{
	background:  #D8DEF2;
}

.trueReset {
	font-weight: bolder;
}

.trueResetButton{
	background: lightgray;
	margin-right: 20px;
	/*width:20px;*/
	height: 20px;
	padding:2px 8px;
	cursor:pointer;
}

.ired{
	color: #d0451b;
}

#selectboxdiv{
/*	display:flex;
	flex-wrap:wrap;*/
}
.selectboxdivclass{
	display: inline-block; 
	margin:5px; 
	white-space: normal;
}

.lessfilters{
	height: 100%;
	width : 97vw;
	/*align-items:flex-end;*/
	/*transition:height 5s;*/
}

.morefilters{
	overflow:hidden;
	height : 280px;
	width : 97vw;
	/*align-items:flex-end;*/
	/*transition:height 5s;*/
}

.wsnowrap{
	white-space: nowrap;
	/*flex-wrap:nowrap;*/
}
/*.wsnowrap b{white-space: nowrap;}*/
#mainformdiv{
	display:inline-block; 
	margin:0px 10px 4px 0px; 
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%); 
	border: 1px solid rgba(0,0,0,0.1); 
	border-radius: 1px; 
	/*width: 100%;*/
}

.sortme{
	float: left;
	cursor: pointer;
	padding-left: 10px;
}
.mathHighlight {
	position:relative;
	z-index: 1002;
}


.pickericon{
	color:#566;
}
.selectboxdivclass:hover .pickericon{
	color:red;
}
.pickerItem{
	margin:10px; 
	padding:10px; 
	display:flex; 
	row:rtl;
	min-height: 70px;
}

.pickerItemNotSelected {
	border: 1px solid #ccc; 
}
.pickerItemSelected {
	border: 1px solid red;
	box-shadow: inset 0 0 2px red;
	background: #eee;
}
.pickercheckboxholder{
	width:40px; 
	display:flex; 
	justify-content:center; 
	align-items:center;
	/*background: #efefef;*/
}

.pickerbuttondiv{
}
.moreoptionsmessage{
	font-weight: bold;
	color:red;
	font-size: 1.1em;
	margin-right: 25px;
}
.imageholder{
	margin-left: 10px;
}

.superContent{
	display: flex;
}
.mainFlexWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  /*font-weight: bold;*/
  /*text-align: center;*/
}

.sideIndex{
	background: #FFF;
}
.sideIndexContent p:hover span{
	display: inline;
}

.sideIndexContent{
	padding: 0px 0px 50px 20px;
	list-style: none;
}
.sideIndexContent a{
	color: #656;
	text-decoration: none;
}
.sideIndexContent a:hover{
	text-decoration: underline;
	color: #333;
}

#topResultsContainer{
	padding:5px 0px 20px 10px;
}

/*catfamstyle*/
.catContainer{
	margin-bottom: 25px;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
   	break-inside: avoid; /* IE 10+ */
   	padding: 0px 0px 3px 0px;

	/*margin-left:300px;*/
/*// 	width: 95%;*/
	/*max-width: 800px;*/
/*// 	overflow: hidden;*/
}
.catTitle{
	font-size: 1.8em;
	font-weight: bold;
/*// 	background: -moz-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);*/
/*// 	background: -webkit-linear-gradient(-45deg, rgba(239,242,244,1) 25%, rgba(222,228,237,1) 88%);*/
	background: #fff;
	padding: 5px;
	position: sticky; /* experimental */
	top:50px;
	z-index: 3;
	display: flex;

}

.catTitle a{
	font-size: 1em;
	font-weight: bold;
	color:black;
}


.plTextOnly .catTitle{
	margin-bottom: 5px;
}

.plContainerized .famItemContainer > .famTitle{
	font-weight: bold;	
}
.plContainerized .famItemContainer > .fcount{
	float:right;
}
.plContainerized .familiesContainer{
	/*border: 1px solid #ccc;*/
	padding: 4px;
	max-width: 1000px;
}
.plContainerized .familiesContainer a{
	text-decoration: none;
	color: #333333;
}
/*.familiesContainer:hover a{
	text-decoration: underline;
	color: #333333;
}*/
.plContainerized .famItemContainer{
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align:top;
	/*margin-left: 20px;*/
	/*margin-bottom: 5px;*/
	margin: 5px 10px;
	padding: 2px;
	width: 250px;
	height: 100px;
	position: relative;
}
.plContainerized .famItemContainer:hover a{
	text-decoration: underline;
	color: #333333;
}
.plTextOnly .famItemContainer{
	/*border: 1px solid #ccc;*/
	/*display: inline-block;*/
	/*vertical-align:top;*/
	/*margin-left: 20px;*/
	/*margin-bottom: 5px;*/
	/*margin: 5px 10px;*/
	/*width: 300px;*/
	/*height: 100px;*/
	
}
.plTextOnly .famItemContainer {
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}

.plTextOnly .famItemContainer > .fcount{
	order:2;
	margin-left: 10px;
}
.plTextOnly .famItemContainer > .famTitle{
	order:1;
}
.plContainerized .familyimages{
	/*height: 64px;*/
	/*width: 64px;*/
	position: absolute;
	bottom: 0px;
	display: inline;
}
.plTextOnly .familyimages {
	display: none;
}

.plContainerized .famItemContainer:hover{
	/*cursor:pointer;*/
}

.plContainerized .familyimages>a img {
  /*display: block;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: url(https://dl.dropboxusercontent.com/u/26263360/img/newhelp.png) no-repeat;*/
  width: 64px; /* Width of new image */
  height: 64px; /* Height of new image */
}

.piThumbIcons{
	margin-left:auto;
	margin-right: 20px;
	align-self: flex-end;
}
.piThumbIcons > i {
	margin-left: 7px;
	cursor: pointer;
	color:#888;
	padding: 2px;
}

.piThumbIcons > i:hover {
	/*color: #942911;*/
	color: red;
	
}

.plContainerized .fa-th {
	/*color:#942911;*/
	border: 1px solid #ddd;
}
.plTextOnly .fa-list {
	/*color:#942911;*/
	border: 1px solid #ddd;

}


.sideIndexTitle {
	border-bottom: 1px solid #ccc;
	display:flex;
}

#fullResultsTitle button{
	height: 20px;
	width: 40px;
	padding:3px;
	margin-left: 2px;
}



/*catfamstyle*/


/*checkbox start*/
input[type=checkbox].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=checkbox].css-checkbox + label.css-label {
              padding-left:21px;
              height:16px; 
              display:inline-block;
              line-height:16px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:12px;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
              background-position: 0 -16px;
            }
            label.css-label {
        background-image:url(https://dl.dropboxusercontent.com/u/26263360/img/csscheckbox_red.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
/*checkbox end*/


/*new red button*/
.myRedButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:arial;
	font-size:13px;
	padding:.5em 1em;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #854629;*/
}
.myRedButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myRedButton:active {
	position:relative;
	top:1px;
}

.myRedButton:focus {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}

/*new red button end*/


/*button sizing*/

#exploremodechooser button, 
#columnchooser button, 
#qpchooser button,
#wrapfilterschooser button 
{
	width: 40px;
	height: 20px;
}

.mediaColumnizer {
	-moz-column-width:300px;
	-webkit-column-width:300px;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
}

.tooltipster-base{
	max-width: 80%;
	margin-right: 50px;
	margin-left: 50px;
}

.loader {
  margin: 4em auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


.box {
	/*width:70%;*/
	/*height:200px;*/
	background:#FFF;
	/*padding: 0px 0px 10px 0px;*/
}

body.indexPage{
	background: #efefef;
}
body.indexPage .matching-records{
	color: white;
	font-size: 14px;
	font-weight: bold;
}

/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
	-webkit-box-shadow: 0 7px 6px -6px #777;
	   -moz-box-shadow: 0 7px 6px -6px #777;
	        box-shadow: 0 7px 6px -6px #777;
}


.hideme{
	display:none !important;
}


.catjumpto{ 
	textDecoration:none; color:#444;
}

.catfiltertopitem div, .catfiltertopitem a {
	display:inline-block;
}
.catSprite {
	margin:3px 5px 3px 3px; 
	position:relative; 
	top:10px; 
	/*border:1px solid gray; */
	/*border-radius:5px; */
	display:inline-block;
}

.catSprite2 {
	margin-right: 5px;
}

.jumptoLink{
	width:100%;
	height: 25px;
}
.jumptoLink span{
	line-height: 2em;
	margin-left: 3px;
}

.jumptoSprite{
	margin:1px;
	float:left; 
}
.jumptoParentDiv{
	width:100%;
	height:27px;
}
.jumptoHoverDiv{
	width:100%;
	height: 100%;
}
.jumptoHoverDiv:hover{
	background: #ccc;
	width:100%;
	height:100%;

}


#copytable{
 height:100px;
}

#copytable.gray td , #copytable.gray  a, #copytable.gray td a span{
	font: normal 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1.2em;
	border: 1px solid #B3BFAA;
}
#copytable.gray th  {
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	border: 1px solid #B3BFAA;
} #copytable.gray th a {
	/*color: #fff;*/
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
}
/* 
 * dragtable
 *
 * @Version 1.0.3
 *
 * default css
 *
 */


.dragtable-drag-handle{
	cursor: move;
}

/*
 * gets wrapped around placeholder table
 */
  
.dragtable-drag-wrapper{
	position: absolute;
    z-index: 1000;
} 
 /*
  * this gets applied to the table copy of the col that we are dragging 
  */ 
.dragtable-drag-wrapper .dragtable-drag-col{
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor:move;
}

/*
	placeholder is just a name for the real table col
*/
.dragtable-col-placeholder { 
    border-left: 1px dotted black;
    border-right: 1px dotted black; 
    color:#EFEFEF;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
table .dragtable-col-placeholder:first{
	border-top:1px dotted black;
}


.dragtable-col-placeholder * { 
    opacity: 0.0; 
    visibility: hidden; 
}



/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.audioproducts, .batteryproducts, .boxesenclosuresracks, .cableassemblies, .cableassemblies2, 
.cableswires-management, .cableswires, .capacitors, .circuitprotection, .computersoffice-componentsaccessories, 
.connectorsinterconnects, .connectorsinterconnects2, .crystalsandoscillators, .discretesemiconductorproducts, .embeddedcomputers, 
.fansthermalmanagement, .filters, .hardwarefastenersaccessories, .inductorscoilschokes, .industrialcontrolsmeters, 
.integratedcircuitsics, .isolators, .kits, .lineprotectiondistributionbackups, .magnetics-transformerinductorcomponents, 
.makerdiyeducational, .memorycardsmodules, .motorssolenoidsdriverboardsmodules, .networkingsolutions, .opticalinspectionequipment, 
.optoelectronics, .potentiometersvariableresistors, .powersupplies-boardmount, .powersupplies-externalinternaloff-board, .powersuppliesboardmount, 
.programmersdevelopmentsystems, .prototypingproducts, .rfifandrfid, .relays, .resistors, 
.semiconductormodules, .sensorstransducers, .solderingdesolderingreworkproducts, .staticcontrolesdcleanroomproducts, .switches, 
.tapesadhesives, .testandmeasurement, .tools, .transformers, .uncategorized, 
.undefinedcategory
{ display: inline-block; background: url('https://dl.dropboxusercontent.com/u/26263360/img/caticons/catsprites.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.audioproducts { background-position: -0px -0px; width: 25px; height: 25px; }
.batteryproducts { background-position: -25px -0px; width: 25px; height: 25px; }
.boxesenclosuresracks { background-position: -50px -0px; width: 25px; height: 25px; }
.cableassemblies { background-position: -75px -0px; width: 25px; height: 25px; }
.cableassemblies2 { background-position: -100px -0px; width: 25px; height: 25px; }
.cableswires-management { background-position: -125px -0px; width: 25px; height: 25px; }
.cableswires { background-position: -150px -0px; width: 25px; height: 25px; }
.capacitors { background-position: -0px -25px; width: 25px; height: 25px; }
.circuitprotection { background-position: -25px -25px; width: 25px; height: 25px; }
.computersoffice-componentsaccessories { background-position: -50px -25px; width: 25px; height: 25px; }
.connectorsinterconnects { background-position: -75px -25px; width: 25px; height: 25px; }
.connectorsinterconnects2 { background-position: -100px -25px; width: 25px; height: 25px; }
.crystalsandoscillators { background-position: -125px -25px; width: 25px; height: 25px; }
.discretesemiconductorproducts { background-position: -150px -25px; width: 25px; height: 25px; }
.embeddedcomputers { background-position: -0px -50px; width: 25px; height: 25px; }
.fansthermalmanagement { background-position: -25px -50px; width: 25px; height: 25px; }
.filters { background-position: -50px -50px; width: 25px; height: 25px; }
.hardwarefastenersaccessories { background-position: -75px -50px; width: 25px; height: 25px; }
.inductorscoilschokes { background-position: -100px -50px; width: 25px; height: 25px; }
.industrialcontrolsmeters { background-position: -125px -50px; width: 25px; height: 25px; }
.integratedcircuitsics { background-position: -150px -50px; width: 25px; height: 25px; }
.isolators { background-position: -0px -75px; width: 25px; height: 25px; }
.kits { background-position: -25px -75px; width: 25px; height: 25px; }
.lineprotectiondistributionbackups { background-position: -50px -75px; width: 25px; height: 25px; }
.magnetics-transformerinductorcomponents { background-position: -75px -75px; width: 25px; height: 25px; }
.makerdiyeducational { background-position: -100px -75px; width: 25px; height: 25px; }
.memorycardsmodules { background-position: -125px -75px; width: 25px; height: 25px; }
.motorssolenoidsdriverboardsmodules { background-position: -150px -75px; width: 25px; height: 25px; }
.networkingsolutions { background-position: -0px -100px; width: 25px; height: 25px; }
.opticalinspectionequipment { background-position: -25px -100px; width: 25px; height: 25px; }
.optoelectronics { background-position: -50px -100px; width: 25px; height: 25px; }
.potentiometersvariableresistors { background-position: -75px -100px; width: 25px; height: 25px; }
.powersupplies-boardmount { background-position: -100px -100px; width: 25px; height: 25px; }
.powersupplies-externalinternaloff-board { background-position: -125px -100px; width: 25px; height: 25px; }
.powersuppliesboardmount { background-position: -150px -100px; width: 25px; height: 25px; }
.programmersdevelopmentsystems { background-position: -0px -125px; width: 25px; height: 25px; }
.prototypingproducts { background-position: -25px -125px; width: 25px; height: 25px; }
.rfifandrfid { background-position: -50px -125px; width: 25px; height: 25px; }
.relays { background-position: -75px -125px; width: 25px; height: 25px; }
.resistors { background-position: -100px -125px; width: 25px; height: 25px; }
.semiconductormodules { background-position: -125px -125px; width: 25px; height: 25px; }
.sensorstransducers { background-position: -150px -125px; width: 25px; height: 25px; }
.solderingdesolderingreworkproducts { background-position: -0px -150px; width: 25px; height: 25px; }
.staticcontrolesdcleanroomproducts { background-position: -25px -150px; width: 25px; height: 25px; }
.switches { background-position: -50px -150px; width: 25px; height: 25px; }
.tapesadhesives { background-position: -75px -150px; width: 25px; height: 25px; }
.testandmeasurement { background-position: -100px -150px; width: 25px; height: 25px; }
.tools { background-position: -125px -150px; width: 25px; height: 25px; }
.transformers { background-position: -150px -150px; width: 25px; height: 25px; }
.uncategorized { background-position: -0px -175px; width: 25px; height: 25px; }
.undefinedcategory { background-position: -25px -175px; width: 25px; height: 25px; }